
      .header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #c2b7b7;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

/* Left Section */
.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.youtube-logo {
  height: 24px;
  cursor: pointer;
}

/* Middle Section (Search Bar) */
.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 70px;
margin-right: 35px;

  margin: 0 40px;
  max-width: 600px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: #666;
}

.search-button {
  height: 40px;
  width: 60px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #f8f8f8;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.voice-search-button {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.upload,
.youtube-apps,
.notifications {
  height: 24px;
  cursor: pointer;
}

.current-user-picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}
