 .thumbnail {
        width: 100%;
      }
      .thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }
      .video-author {
        margin-bottom: 4px;
      }
      

      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .channel-picture {
        vertical-align: top;
      }
      
      .profile-picture {
        width: 36px;
        border-radius: 50px;
      }
      .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
       padding-left: 96px;
       padding-top: 80px;
       pad
       
      }
      .video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}